@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep functionality */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}


